{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emails list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in person.emails %}
            <tr>
                <td><a href="{{ path('email_show', { 'id': email.id }) }}">{{ email.id }}</a></td>
                <td>{{ email.email }}</td>
                <td>{{ email.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('email_show', { 'id': email.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('email_edit', { 'id': email.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email_new') }}">Create a new email</a>
        </li>
    </ul>
{% endblock %}
