{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phones list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone in phones %}
            <tr>
                <td><a href="{{ path('phone_show', { 'id': phone.id }) }}">{{ phone.id }}</a></td>
                <td>{{ phone.number }}</td>
                <td>{{ phone.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('phone_show', { 'id': phone.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('phone_edit', { 'id': phone.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('phone_new') }}">Create a new phone</a>
        </li>
    </ul>
{% endblock %}
